#MensShop {
    height: 100vh;
    background-color: rgb(170, 110, 110);
}

#logo {
    display: flex;
    padding: 20px 0px 0px 30px;
    position: relative;
}

#addProduct {
    position: absolute;
    right: 30px;
    top: 30px;
}

#addProduct button {
    color: white;
    background: black;
    border: none;
    padding-block: 5px;
    border-radius: 5px;
    border: 2px solid black;
    transition: 0.3s;
}

#addProduct button:hover {
    background: transparent;
    border: 2px solid black;
    transition: 0.3s;
}


#logo img {
    height: 80px;
}

#logo h1 {
    color: white;
    padding-left: 20px;
}

#offersBody {
    width: 80%;
    margin-inline: auto;
}

#offers {
    color: rgb(247, 247, 247);
    padding: 5px 0px 0px 20px;
    margin: 0px;
    font-size: 24px;
}

#shopBodyList {
    margin: 0px;
    display: flex;
}

#item {
    margin: 10px;
    width: 140px;
    height: 300px;
    background: #dc132794;
    border-radius: 10px;
    overflow: hidden;
}

#item img {
    width: 140px;
    height: 180px;
}

#item div h1 {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px 0px 10px;
}

#item div p {
    color: white;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

#item:hover {
    filter: grayscale(0.4);
}

#detailsProduct {
    height: 350px;
    width: 800px;
    display: flex;
    background: #dc132794;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 140px;
}

#detailsProduct h1,
h2,
h3,
h4 {
    color: white;
    margin: 0px;
    padding-inline: 20px;
}

#detailsProduct h1 {
    font-size: 30px;
    padding-top: 10px;
}

#detailsProduct h2 {
    font-size: 20px;
    padding-top: 10px;
}

#detailsProduct h3 {
    font-size: 16px;
    padding-top: 15px;
}

#detailsProduct h4 {
    font-size: 25px;
    padding-top: 10px;
}



.dImgProd img {
    height: 350px;
}

#rateBlock {
    height: 20px;
    padding: 5px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #1a1a1a94;
    border-radius: 5px;
}

#rateBlock p {
    color: white;
    font-size: 16px;
    padding: 0px 0px 0px 5px;
    margin-block: auto;
}

#rateBlock img {
    height: 20px;
}

#addProductBody {
    width: 280px;
    height: 380px;
    background: #dc132794;
    padding: 10px;
    border-radius: 6px;
    border: 1.5px solid rgb(23, 21, 21);
    position: absolute;
    top: 130px;
    right: 80px;
}

#addProductBody h1 {
    color: white;
    margin: 0px;
    padding-block: 10px;
    text-align: center;
}

.productField {
    display: flex;
    flex-wrap: wrap;
}


.productField span {
    width: 300px;
    color: white;
    padding: 5px 0px 2px 30px;
}

.productField input {
    height: 20px;
    width: 200px;
    margin-left: 25px;
    border-radius: 8px;
    padding-inline: 10px;
    border: none;
    outline: none;
}

#btnAdd {
    margin-top: 20px;
    text-align: right;
    padding-right: 30px;
}

#btnAdd button {
    background: black;
    border: 1.5px solid black;
    color: white;
    border-radius: 8px;
    padding: 4px 20px 4px 20px;
    transition: 0.2s;
}

#btnAdd button:hover {
    background: transparent;
    transition: 0.2s;
}