#todoList {
  height: 100vh;
  background: rgb(0, 121, 255);
  background: linear-gradient(180deg, rgba(0, 121, 255, 1) 0%, rgba(11, 120, 222, 1) 50%, rgba(0, 177, 205, 1) 100%);
}

.theme-todolist-dark {
  background: rgb(107, 29, 180);
  background: linear-gradient(180deg, rgba(107, 29, 180, 1) 0%, rgba(41, 17, 149, 1) 48%, rgba(31, 21, 21, 1) 100%);
}

#nextTask {
  width: 100%;
  margin-top: 20px;
}

#nextTask div {
  width: 387px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#nextTask img {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 7px;
  left: 9px;
}

#nextTask input {
  width: 350px;
  height: 25px;
  padding-left: 35px;
  padding-block: 3px;
  border: none;
  outline: none;
}

#List {
  width: 100%;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#HeaderList {
  background: white;
  margin-top: 14px;
  width: 387px;
  height: 30px;
  display: flex;
  justify-content: end;
}

#HeaderList button {
  height: 22px;
  text-align: center;
  background: transparent;
  border: none;
  margin-block: 4px;
  margin-inline: 2px;
  border-radius: 2px;
  color: #0079ff;
  font-weight: 530;
  font-size: 10px;
}

#HeaderList button:nth-child(3) {
  margin-right: 4px;
}

#HeaderList button:hover {
  background: #0077ff1f;
}

#bodyList {
  width: 100%;
  height: 30vh;
}

.bodyListItem {
  width: 387px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-top: 0.5px solid gray;
  display: flex;
}

.btnDone,
.btnDel {
  width: 40px;
  height: 30px;
}

.btnDone img {
  width: 15px;
  height: 15px;
}

.btnDone div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 1px;
  margin: 3.5px auto;
}

.btnDone div:hover {
  background: #0077ff1f;
}

.btnDone div::after {
  background: #05193042;
}

.btnDel img {
  width: 13px;
  height: 13px;
  margin: 8px auto;
}

.bodyListItem input {
  width: 307px;
  border: none;
  outline: none;
}

.active {
  background: #05193042;
}

.task-done {
  text-decoration: line-through;
}


h3 {
  margin: 0;
  padding: 90px 0px 0px 0px;
  text-align: center;
  color: white;
  font-family: sans-serif;

  font-size: 30px;
}